<form action="/signup" method="POST">
  Username: enter your email address<br>
  <input type="text" name="username" placeholder="email address"><br>
  Password:<br>
  <input type="text" name="password" placeholder="Password"><br>
  First name:<br>
  <input type="text" name="firstname" placeholder="First name"><br>
  Last name:<br>
  <input type="text" name="lastname" placeholder="Last name"><br>
  Address:<br>
  <input type="text" name="address" placeholder="Address"><br>
  City:<br>
  <input type="text" name="city" placeholder="City"><br>
  State:<br>
  <input type="text" name="state" placeholder="State"><br>
  Zipcode:<br>
  <input type="text" name="zipcode" placeholder="Zipcode"><br>
  <button type="submit">Submit</button>
</form>
Please be advised that your information will be sold to the highest<br>
bidder and your privacy means nothing! Thank you!
